<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>node authentication</title>
  </head>
  <body>
    <div class="junbotron text-center">
      <h1><span class="fa fa-lock"> Node authentication</span></h1>

      <p>Login or register with:</p>
      <form action="/api/auth/google" method="GET">
        <button type="submit">GOOGLE BUTTON</button>
      </form>

      <form action="/api/auth/facebook" method="GET">
        <button type="submit">FACEBOOK BUTTON</button>
      </form>
    </div>
  </body>
</html>
